
.footer {
    
    height: 220px;
    color: var(--clr-text);
    background-color: var(--clr-body);
    align-items: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    position: relative;
    
    
}

.footer_content {
    display: grid;
    place-items: center;
    row-gap: 30px;
    width: 100%;
    border-top-style: solid;
    border-top-color: #262523;
    border-top-width: 1.5px;
}

.footer .backtop {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    padding-top: 20px;
}


.footer .bottom {
    
    display: flex;
    justify-content: center;
    align-content: space-between;
    height: 100%;
    width: 100%;
}

.bottom .left {
    justify-content: center;
    margin: auto;
    width: 50%;
    padding-left: 3em;
    padding-right: 3em;
}

.bottom .left p {
    font-family: "Nunito Sans", sans serif;
}
.bottom .right {
   
    margin: auto;
    width: 50%;
}


.footer .navigation-links {
    
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    

}

.navigation a {

    font-family:'Nunito Sans', sans-serif;
    font-size: 20 px;
    color: var(--clr-text);
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    
}





.footer > .copyright {
   color: var(--clr-text);
   opacity: 85%;
  
}
