.work-container {
    background-color: rgba(199, 196, 196, 0.925);
    border-radius: 10px;
    display: grid;
    
}

.separator {
   
    height: 15px;
}
.work-title {
    justify-self: center;
}
.work-title h3 {
    padding: 1em;
    text-decoration: underline;
}

.work-content {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.long_legend {
    align-content: right;
    padding-right: 10px;
    padding-left: 10px;
}

.legend {
    align-content: center;
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}
.legend a {
    text-decoration: none;
    color: var(--clr-text);
}
.legend h4 {
    font-size: 1.6em;
    font-weight: lighter;
}
.bold{
    font-size: 1.25em;
    text-decoration: underline;

}
.filler {
    font-size: 1.25em;
}
.filler a {
    color: var(--clr-text);
}

.work-image {
    display: grid;
    padding-bottom: 15px;
}

.work-image span {
    justify-self: center;
    padding-top: 5px;
}

.work-image img {
    max-height: 90vh;
}
.front-image {
    display: grid;
    justify-items: right;
    padding-bottom: 15px;
    max-width: 50%;
}
.front-image img {
    max-height: 90vh;
}

.column {
    display: grid;
    justify-items: right;
    
    
}
.column .work-image {
    
    align-items: center;
    max-width: 73%;
    
    
}

.stacked {
display: grid;
width: 95%;
margin: auto;
padding-top: 15px;
padding-bottom: 15px;

}
.stacked .row {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    
}

.stacked .row .work-image {
    padding-left: 10px;
    padding-right: 10px;
    
    
}
.stacked .row .work-image .legend {
    justify-self: center;
}

.work-image .row {
    display: flex;
    margin: auto;
    justify-content: space-around;
    max-width: 50%;
}

.work-image .row .work-image {
    padding-left: 10px;
    padding-right: 10px;
}

.inbetween {
    width: 40px;
}